@import '~nativescript-theme-core/scss/light';

$raleway-regular: "Raleway", "Raleway-Regular";
$raleway-medium: "Raleway Medium", "Raleway-Medium";
$raleway-bold: "Raleway", "Raleway-Bold";

$chivo-regular: "Chivo", "Chivo-Regular";
$chivo-bold: "Chivo Bold", "Chivo-Bold";

$icon-font: "Material Icons", "MaterialIcons-Regular";

$primary: #383F4D;
$headings-color: $primary;

$accent: #2B34E9;
$btn-color: $accent;

