<GridLayout
    class="p-y-24"
    backgroundColor="#FEFEFE"
    rows="auto, auto, *, auto"
>
    <Label
        class="h2 p-x-24"
        text="Hello&#xA;Johny!"
        textWrap="true"
    ></Label>
    <Label
        row="1"
        class="text-subtitle m-t-16 p-x-24"
        color="#A1A1A1"
    >
        <FormattedString>
            <Span text="You have "></Span>
            <Span
                [text]="(todos$ | async) | tasks"
                color="#2B34E9"
                class="font-weight-medium"
            ></Span>
            <Span text=" today"></Span>
        </FormattedString>
    </Label>
    <CardView
        row="2"
        radius="16"
        shadowOpacity="0.15"
        shadowRadius="16"
        elevation="16"
        margin="24"
        backgroundColor="white"
    >
        <GridLayout
            rows="auto, *"
            padding="24 0"
        >
            <!--card-title-->
            <StackLayout
                orientation="horizontal"
                horizontalAlignment="center"
                marginBottom="24"
            >
                <Label
                    class="mdi"
                    [text]="'mdi-assignment' | fonticon"
                ></Label>
                <Label
                    class="todo-list-title font-weight-bold"
                    text="Todo"
                    marginLeft="8"
                ></Label>
            </StackLayout>
            <ScrollView row="1">
                <ns-todo-list
                    [items]="todos$ | async"
                    (itemSelected)="completeTask($event)"
                ></ns-todo-list>
            </ScrollView>
            <StackLayout
                *ngIf="(todos$ | async).length === 0"
                row="1"
            >
                <Image
                    src="res://no_pending_tasks"
                    stretch="aspectFit"
                ></Image>
            </StackLayout>
        </GridLayout>
    </CardView>
    <Button
        row="3"
        class="btn btn-primary"
        text="Add new task"
        horizontalAlignment="center"
        (tap)="navigateToAddTodo()"
    ></Button>
</GridLayout>

